@font-face {
  font-family: 'NeuzeitGro-Bol';
  src: url('/fonts/2BF066_0_0.eot');
  src: url('/fonts/2BF066_0_0.eot?#iefix') format('embedded-opentype'), url('/fonts/2BF066_0_0.woff') format('woff'), url('/fonts/2BF066_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'NeuzeitGro-Reg';
  src: url('/fonts/2BF066_1_0.eot');
  src: url('/fonts/2BF066_1_0.eot?#iefix') format('embedded-opentype'), url('/fonts/2BF066_1_0.woff') format('woff'), url('/fonts/2BF066_1_0.ttf') format('truetype');
}
* {
  font-family: NeuzeitGro-Reg;
  font-size: 16px;
}
body {
  background-color: #f5ba24;
}
body .logo {
  background-image: url('/img/mainlogo.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 5px;
}
.waxibutton {
  line-height: 2em;
  color: #f5ba24;
  background-color: #333132;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #f5ba24;
}
.waxibutton:hover,
.waxibutton:active {
  color: white;
  background-color: #333132;
}
section.formblock main > label {
  width: 120px;
  clear: both;
}
section.formblock main > label,
section.formblock main > input {
  display: block;
  float: left;
}
section.formblock main > input {
  clear: right;
  margin-bottom: 5px;
  padding: 2px 10px 2px 10px;
}
section.formblock main > input[type='date'] {
  line-height: 1.8em;
}
section.formblock main .datepicker {
  float: left;
  clear: right;
}
section.formblock main .sexpicker {
  float: left;
  clear: right;
}
section.formblock nav {
  float: left;
  clear: both;
}
/**
Style for Directives
*/
.waxi-button {
  padding: 0px;
  border: 1px solid transparent;
}
.waxi-button input[type="checkbox"] {
  display: none;
}
.waxi-button label {
  line-height: 2em;
  color: #f5ba24;
  background-color: #333132;
  border-radius: 0px;
  padding: 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0px;
}
.waxi-button label span {
  /** TODO: Move to less function **/
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  font-weight: normal;
}
.waxi-button input[type="checkbox"]:checked + label {
  background-color: Green;
  color: white;
}
.waxi-button input[type="checkbox"]:checked + label:after {
  content: " \2713";
}
.waxihourpicker button {
  line-height: 2em;
  color: #f5ba24;
  background-color: #333132;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #f5ba24;
  display: block;
  width: 100%;
}
.waxihourpicker button:hover,
.waxihourpicker button:active {
  color: white;
  background-color: #333132;
}
.waxihourpicker select {
  border: 0px;
  height: 2em;
  font-size: 2em;
  display: block;
  width: 100%;
  text-align: center;
  padding-left: 36%;
}
.bookingview label {
  padding-top: 0px;
}
.bookingview .subnavmenu {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.bookingview .subnavmenu button {
  line-height: 2em;
  /*width: 40px;*/
  color: #f5ba24;
  background-color: #333132;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bookingview section.bookingseats {
  padding-bottom: 15px;
}
.bookingview section.bookingseats nav div {
  margin-top: 5px;
}
.bookingview section.bookingseats nav button {
  line-height: 2em;
  /*width: 40px;*/
  color: #f5ba24;
  background-color: #333132;
  border-radius: 0px;
  padding: 20px;
}
.bookingview section.bookingdate {
  padding-bottom: 15px;
}
.bookingview section.bookingdate nav button {
  color: #f5ba24;
  background-color: #333132;
  border-radius: 0px;
  padding: 20px;
}
.bookingview section.bookingpayment {
  padding-bottom: 15px;
}
.bookingview section.bookingpayment main label {
  float: left;
  clear: both;
}
.bookingview section.bookingpayment main input,
.bookingview section.bookingpayment main > select {
  float: left;
  clear: both;
  margin-top: 5px;
  padding: 2px 10px 2px 10px;
}
.bookingview section.bookingpayment main .datepicker {
  clear: both;
}
.bookingview section.bookingpayment main .datepicker > select {
  margin-top: 5px;
}
.bookingview section.bookingpayment nav {
  clear: both;
}
.bookingview section.bookingpayment nav button {
  margin-top: 10px;
  color: #f5ba24;
  background-color: #333132;
  border-radius: 0px;
}
.bookingview section.bookingtime {
  padding-bottom: 15px;
}
.bookingview section.bookingsucces {
  padding-bottom: 15px;
}
section.cms.home header {
  font-weight: bold;
  margin-bottom: 10px;
}
section.cms nav {
  padding-top: 20px;
}
section.cms nav p {
  background-color: #333132;
  color: #f5ba24;
  text-align: center;
  height: 150px;
  font-weight: bold;
  padding: 55px 20px 0 20px;
}
section.cms nav div {
  cursor: pointer;
}
@media (max-width: 600px) {
  section.formblock main > label {
    width: 100%;
    display: block;
  }
  section.formblock main > label,
  section.formblock main > input {
    display: block;
    width: 100%;
  }
  section.formblock main > input {
    clear: both;
    width: 100%;
    margin-bottom: 5px;
    padding: 2px 10px 2px 10px;
  }
  section.formblock main > input[type='date'] {
    width: 100%;
    line-height: 1.8em;
  }
}
/*# sourceMappingURL=/css/main.css.map */