<div class="bookingview">

    <h1>Time to pay</h1>

    <p>To complete your booking please enter your payment details</p>

    <form novalidate name="FrmPayment" class="css-form" ng-submit="gotoConfirmation()">

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label>First Name</label>
                    <input type="text" name="FirstName" ng-model="bookingDetails.firstName" class="form-control"/>
                </div>
                <div class="col-xs-6">
                    <label>Surname</label>
                    <input type="text" name="Surname" ng-model="bookingDetails.surname" class="form-control"/>
                </div>
                <div class="col-xs-12">
                    <label>Email Address</label>
                    <input type="text" name="emailaddress" ng-model="bookingDetails.emailaddress" class="form-control"/>
                </div>
                <div class="col-xs-12">
                    <label>Mobile Number</label>
                    <input type="text" name="mobile" ng-model="bookingDetails.mobile" class="form-control"/>
                </div>
                <div class="col-xs-12">
                    <label>Card Number</label>
                    <input type="text" name="Cardnumber" ng-model="bookingDetails.cardNumber" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label>Type</label>
                    <img src="/img/Visa_Logo.png"
                         width="100"/>
                    <img src="/img/MasterCard_Logo.png"
                         width="100"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label>Expire Month / Year / CSC</label>
                </div>
                <div class="col-xs-4">
                    <select ng-model="month" ng-options="month.name for month in DatePicker.months"
                            class="form-control">
                        <option value="">Month</option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <select ng-model="year" ng-options="year.name for year in DatePicker.years"
                            class="form-control">
                        <option value="">Year</option>
                    </select>
                </div>

                <div class="col-xs-4">
                    <input type="text" name="CSCCode" placeholder="CSC" ng-model="bookingDetails.csc" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <h2 class="col-xs-12">Billing Address</h2>
                <div class="col-xs-12">
                    <label>House number</label>
                    <input type="text" name="address.Number" ng-model="bookingDetails.houseNumber" class="form-control"/>
                </div>
                <div class="col-xs-12">
                    <label>Postcode</label>
                    <input type="text" name="address.postcode" ng-model="bookingDetails.postcode" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <input type="submit" class="waxibutton pull-right"/>
                </div>
            </div>
        </div>
    </form>
</div>