<div class="bookingview">
    <form novalidate name="FrmBookingView" class="css-form">

        <div class="bookingTickets">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <label>Travel Type</label>
                        <select name="TicketType" ng-model="bookingDetails.ticketType" class="form-control" required>
                            <option>Single</option>
                            <option>Return</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Adult</label>
                        <input type="text" name="NumAdults" ng-model="bookingDetails.numAdults" class="form-control"
                               pattern="^[1-9][0-9]*$" required=""/>

                        <div ng-show="FrmBookingView.NumAdults.$touched">
                            <span ng-show="FrmBookingView.NumAdults.$error.required">1 adult ticket minimum</span>
                            <span ng-show="FrmBookingView.NumAdults.$error.pattern">invalid number of tickets</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label>Child</label>
                        <input type="text" name="NumChildren" ng-model="bookingDetails.numChildren"
                               class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Leaving from</label>
                            <select class="form-control" ng-options="departure.name for departure in departures"
                                    ng-model="bookingDetails.departure" required=""/>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Going to</label>
                            <select class="form-control" ng-options="arrival.name for arrival in arrivals"
                                    ng-model="bookingDetails.arrival"/>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Departure Date</label>
                        <input type="date" name="DepartureDate" ng-model="bookingDetails.departureDate"
                               class="form-control"/>
                    </div>
                    <div class="col-xs-6">
                        <label>Departure Time</label>
                        <input type="time" name="DepartureTime" ng-model="bookingDetails.departureDate"
                               class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Return Date</label>
                        <input type="date" name="ReturnDate" ng-model="bookingDetails.returnDate" class="form-control"/>
                    </div>
                    <div class="col-xs-6">
                        <label>Return Time</label>
                        <input type="time" name="ReturnTime" ng-model="bookingDetails.returnDate" class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6">
                        <input type="submit" value="Next" class="waxibutton pull-right"
                               ng-disabled="FrmBookingView.$valid == false" ng-click="gotoPayment(bookingDetails)"/>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>