<section class="formblock">
    <header>
        <h1>Waxi Login</h1>

        <p>Login to manage your booking in a click</p>
    </header>

    <form name="frmLogin" method="post" ng-submit="loginEmailPassword()" novalidate>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label for="email">Email Address</label>
                    <input type="email" ng-focus="isFocused" autofocus class="form-control" name="emailaddress"
                           ng-model="username" required/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" ng-model="password" required/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <input type="submit" class="waxibutton pull-right" value="login" ng-disabled="frmLogin.$valid == false"/>
                </div>
                <div class="col-xs-12">
                    <div ng-class="error">{{loginStatus}}</div>
                    <div ng-show="CurrentUser">Login successful - please wait whilst we set you up...</div>
                </div>
                <div class="col-xs-12">
                    or login with
                    <a ng-click="loginThirdParty('facebook')">Facebook</a> -
                    <a ng-click="loginThirdParty('google')">Google</a>
                </div>
                <div class="col-xs-12">
                    Not got an account with us? <a href="/#/account/register">register here</a>
                </div>
            </div>

        </div>

    </form>
</section>