<section class="cms home">
    <header>
        Manchester is the original 'modern city'. Its growth has been driven by innovation in water transportation. WAXI continues this trend and this is your chance to get on board.
    </header>

    <main>
        2014 will herald the launch of Manchester Water Taxis. Our modern WAXIS will provide a high quality,
        environmentally friendly public transport network via the regions waterways that will be fully integrated
        into the existing transport system. So get behind us on our mission to crowd fund £75,000 and help create a new Mancunian icon.
    </main>

    <nav>
        <div class="row">
            <div class="col-sm-4" ng-click="navigateTo('booking')"><p>Booking</p></div>
            <div class="col-sm-4" ng-click="navigateTo('login')"><p>Login</p></div>
            <div class="col-sm-4" ng-click="navigateTo('register')"><p>Register</p></div>
        </div>
    </nav>

</section>